* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    text-align: center;
    background: #000;
}

canvas {
    border: 1px solid black;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}